# local rsa keys
/rsa_key.priv
/rsa_key.pub
# local ed25519 keys
/ed25519_key.priv
/ed25519_key.pub
# local configuration
/tinc.conf
# startup and shutdown script
/tinc-up
/tinc-down
# Windows tinc pid
/pid
